<head>
    <title>Arjun Mahendran</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 Website Landing Page for Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
    
    <!-- github calendar css -->
    <link rel="stylesheet" href="assets/plugins/github-calendar/dist/github-calendar.css"
/>
    <!-- github acitivity css -->
    <link rel="stylesheet" href="assets/plugins/github-activity/src/github-activity.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="assets/css/styles.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head> 
<style>
body {
    
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
}
</style>
<script>
function conactInfo() {
    alert("CellPhone: 647 297 4806 \n Email: arjun.mahendran@ryerson.ca");
}
</script>
<header class="header">
        <div class="container">                       
            <img class="profile-image img-responsive pull-left" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAIfAAAAJDI0Y2QzNGFjLWE5NTEtNGM4Zi04ZDA0LWI4MDY3NjA4MTQwMA.jpg" alt="James Lee" />
            <div class="profile-content pull-left">
                <h1 class="name">Arjun Mahendran</h1>
                <h2 class="desc">Computer Engineering Graduate</h2>   
                <ul class="social list-inline">
                    <li><a onclick="window.open(this.href,'_blank');return false;" href="https://www.linkedin.com/in/arjun-mahendran-69681669?trk=hp-identity-photo"><i class="fa fa-linkedin" ></i></a></li>
                    <li><a onclick="window.open(this.href,'_blank');return false;" href="https://github.com/arjunm13"><i class="fa fa-github-alt"></i></a></li>                                 
                </ul> 
                <ul><a class="btn btn-cta-primary" onClick="conactInfo()" ><i class="fa fa-paper-plane"></i> Contact Me</a></ul>
            </div><!--//profile-->
                          
        </div><!--//container-->
    </header><!--//header-->
<body>
<h1>SUMMARY OF QUALIFICATIONS</h1>

<ul>
<li>Technical knowledge and hands-on experience designing and developing software applications and scripts with 20 months of internship experience</li>
<li> Keeps code clean and clear to ease testing and identifying possible bugs or errors, while reducing repetition </li>
<li>Works independently and thinks critically to identify and solve problems, making use of available documentation and online resources </li>
<li>Experienced in building and testing web service API’s and applications through development of professional and academic projects</li>
<li>Familiar with using unit testing frameworks to ensure code quality</li>
<li>Software development experience in Node.js, Java, C/C++, Python with the ability to learn and implement new technologies</li>
<li>Experience in designing, implementing and accessing SQL and NoSQL databases: MongoDB, MySQL, SQLite</li>
<li>Comfortable with Linux, Windows and Mac OS <br />
<br />
</li>
</ul>

<h1>EDUCATION</h1>

<p><b>Bachelor of Engineering, Computer Engineering </b><i>(New grad, May ‘16)</i><b><br />
</b>Ryerson University, Toronto, Ontario</p>

<h1>INTERNSHIP EXPERIENCE</h1>

<p><b>WebSphere Commerce, IBM Software Group </b><i>Markham, On</i></p>

<p><i>Software Developer Jan. 2014 – Aug. 2015 </i></p>

<ul>
<li>Created Automation tools, packaged and delivered code changes to client environments</li>
<li>Used Python or Node.js/ express.js framework along with available API’s to automate tedious error-prone tasks </li>
<li>Maintained 15 build scripts that ran on multiple environments, (RHEL, windows 7/ XP, windows 2008 server)</li>
<li>Used VSphere extensively to create virtual machines and maintained a pool of machines to run builds </li>
<li>determine code delivery methods to ensure customer environments can receive code changes while maintaining code dependencies</li>
<li>Developed relationships with fellow developers, customers and customer support team locally and offshore</li>
<li>Troubleshoot client installation issues, ensured driver packages were correctly installed </li>
<li>Ensured virtual and physical machines were accessible via samba share, Rsync and shared drives </li>
</ul>

<h1>4<sup>TH</sup> YEAR DESIGN PROJECT</h1>

<p><b>Real Estate E-Bidding Web Application <br />
</b><i>Ryerson University Fall 2015/ Winter 2016</i></p>

<ul>
<li>Designed and implemented a web browser platform for selling and buying real estate with auction bidding</li>
<li>Implemented application in Node.js/Express.js gaining experience in full stack development process with MongoDB database</li>
<li>Used Twitter Bootstrap front-end framework with embedded JavaScript Data binding to create a polished dynamic user interface </li>
<li>Application consumed services such as google maps geo location API and embedded maps</li>
<li>Gained familiarity with asynchronous programming while Implementing user management, live email server, location radius search, file upload to server in Node.js</li>
</ul>

<h1>PROFESSIONAL PROJECTS</h1>

<p><b>Vicinity Deals ltd(early stage start-up), <a href="http://www.vicinity.deals/">www.vicinity.deals</a> </b><i>Toronto, On<br />
Software Developer Sept 2015 – Feb 2016</i></p>
<ul>
<li>Co-Designed and implemented a business directory hybrid mobile application from scratch, currently available for IOS and Android on the App store and Play store</li>

<li> Gained valuable experience in full stack development using Ruby on Rails Server, Phone Gap and Angular.js for the mobile application and a MongoDB database</li>

<li> Application specifications required the implementation of a Solr search engine, push notification, user management, image uploading, geo-location search</li>

<li> Collaborated with team members using Git for source control </li>
</ul>
<h1>ACADEMIC PROJECTS</h1>

<p><b>Virtual Election Booth, </b>Network Security <br />
<i>Ryerson University Winter 2016</i></p>

<ul>
<li>Researched and applied network security techniques to design and implement a secure virtual election application where only verified users can place votes</li>
<li>Security was ensured by using public/private and shared key encryption and user authentication</li>
<li>Keys needed to be distributed in a secure manner</li>
<li>Developed an understanding of the protocols used in user control and application security</li>
</ul>

<p><b>Classified Ad Application Database design, </b>Fundamentals Of Data Engineering<br />
<i>Ryerson University Winter 2016</i></p>

<ul>
<li>Designed and implemented database for a classified ad application involving multiple tables</li>
<li>Database was created using SQLite3 and restrictions were created to ensure data consistency</li>
<li>A java application was created to access, insert and query to and from the database</li>
<li>Gained familiarity with SQL databases and its advantages and disadvantages, having had previous NoSQL DB experience </li>
</ul>

<p><b>GitHub: github.com/arjunm13</b></p>
</body>